#hud-chat{
    opacity: 0.9;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 300px;
}

#hud-chat input, textarea{
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    width: 300px;
    box-shadow: 1px 1px 1px 1px black;
}

#hud-chat input:focus, textarea:focus{
    outline: none;
}

#hud-chat textarea{
    height: 300px;
}

#game-canvas-container{
    text-align: center;
}

#game-canvas-container canvas{
    background-color: black;
}

#hud-abilities{
    opacity: 0.9;
    position: absolute;
    right: 10px;
    bottom: 10px;
    box-shadow: 1px 1px 1px 1px black;
}